@import 'global';

button {
  outline: none;
}

.container {
  padding: 1em;
  border: 1px solid lightgray;
  overflow: hidden;
}

h2 {
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}
