@import 'global';

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;

  h1 {
    margin: 0;
    height: $header-height;
    line-height: $header-height;
    background-color: $very-light-blue;
    border: 1px solid lightgray;
  }

  .control-container {
    position: absolute;
    top: $header-height + 12px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
