$body-background: #f7f7f7;
$body-color: #000040;
$body-margin: 8px;
$header-height: 80px;

$very-light-blue: scale-color(#ddeeff, $lightness: 25%);
$very-light-purple: scale-color(#eeddee, $lightness: 25%);
$very-light-peach: scale-color(#ffeedd, $lightness: 25%);
