@import 'global';

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $body-margin;
  background: $body-background;
  color: $body-color;
}

sender .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0.25em;
  bottom: 0;
  background-color: $very-light-purple;
}

receiver .container {
  position: absolute;
  top: 0;
  left: 0.25em;
  right: 0;
  bottom: 0;
  background-color: $very-light-peach;
}
